.footer-banner-container {
  background: #d6d6d6;
  color: aliceblue;
  position: relative;
  z-index: 2;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw;
}
