.category-selector {
  display: flex;
  gap: 0.3rem;
  overflow: auto;
  margin: 1.2rem 0 1.2rem 0;
  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &__button {
    background: #fff;
    transition: all 0.5s;
    font-size: 1.1rem;
    font-weight: bolder;
  }
}

.selected-cat {
  background: $homeCatBtnActive;
  color: #fff;
}
