.search-form-container {
  // z-index: 96;
  // position: fixed;
  // right: 0;
  // width: 100%;
  // transition: all 0.5s;
  // margin-top: 1rem;
}

.search-form {
  z-index: 99;
  position: relative;
  width: auto;
  transition: all 0.5s;
  margin: auto;
  flex-grow: 1;
  &__label {
    display: flex;
    align-items: center;
    position: relative;
    & svg {
      position: absolute;
      left: 5px;
      z-index: 4;
    }
    &__input-field {
      position: relative;
      z-index: 3;
      padding: 13px 0 13px 30px;
      border-radius: 14px;
      border: 0;
      color: #333;
      font-size: 1.1rem;
      transition: all 0.1s;
      outline: 0;
      width: 100%;
      background: #ffffff;
      // box-shadow: 9px 9px 43px -8px rgba(110, 38, 243, 0.178);
      &:focus {
      }
    }
  }
}

.search-field {
  z-index: 2;
  width: 100%;
  background: #f5f7fb;
  box-shadow: 9px 9px 43px -8px rgb(95, 95, 95);
  margin: auto;
  position: absolute;
  top: 0;
  list-style: none;
  border-radius: 14px;
  overflow-y: hidden;
  padding: 1vh;
  &__item {
    display: flex;
    align-items: center;
    gap: 1.5vh;
    margin-bottom: 1vh;
    &__thumbnail {
      position: relative !important;
      width: 10vh !important;
      height: 10vh !important;
      object-fit: contain;
      background: #ffffff;
      border-radius: 15px;
    }
    &__title {
    }
    &__price {
      padding: 0.6vh;
      font-size: 1rem;
      font-weight: bold;
      color: rgba(70, 7, 133, 1);
    }
  }
}

.highlight {
  background: #f27012;
  color: #ffffff;
}
