.blur {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #646464ab;
  backdrop-filter: blur(30px);
}

.navbar-transition {
  width: 100px !important;
  border-radius: 25px 0 0 25px;
  background: #fff !important;
  box-shadow: 9px 9px 43px 1px rgba(110, 38, 243, 0.267);
}

.navbar-full-width {
  width: 100%;
}
