@import "./variables";
@import "./mixins";
@import "./animations";
@import "../components/Cart/cart";
@import "../components/CartItem/cartItem";
@import "../components/Footer/footer";
@import "../components/CategorySelector/categorySelector";
@import "../components/Navbar/navbar";
@import "../components/ProductCard/product";
@import "../app/home";
@import "../app/product/[slug]/productDetails";
@import "../app/success/success";
@import "../app/products/products";
@import "../components/Menu/menu";
@import "../components/Search/Search";
@import "../app/user/user";
@import "../app/api/auth/signin/signin";
@import "../components/UserModal/usermodal";
@import "../components/DesktopLayout/desktopLayout";
@import "../components/Reviews/reviews";
@import "../components/Wishlist/wishlist";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
  color: #333;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

h3 {
  color: #333;
}

button {
  padding: 0.8rem;
  border: 0;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1rem;
  color: #333;
}

input {
  font-family: "Open Sans", sans-serif;
}
.swiper {
  position: relative;
}
//Swiper
.bestsellers-swiper {
  margin-top: 200px;
}
.swiper-pagination {
  position: relative;
}

.sanity-container {
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.loading-page {
  background: $homeBg;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__spin {
    display: inline-block;
    width: 60px;
    aspect-ratio: 1/1;
    &::after {
      content: "";
      display: block;
      width: 50px;
      aspect-ratio: 1/1;
      border: 5px solid #333;
      border-radius: 50%;
      border-color: #333 transparent #333 transparent;
      animation: rotateSpin 1s linear infinite;
    }
  }
}

@keyframes rotateSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shopping-cart-icon {
  @include shoppingCartIcon;
}
.left {
  left: 0;
  top: 150px;
  padding: 10px 10px 10px 5px;
  right: auto;
  border-radius: 0 25px 25px 0;
}
