@mixin shoppingCartIcon {
  // z-index: 96;
  // position: fixed;
  // top: 100px;
  // right: 0;
  // padding: 10px 5px 10px 10px;
  // background: #6033bc;
  // border-radius: 15px 0 0 15px;
  // border: 0;
  //new from here
  background: transparent;
  padding: 0;
  svg {
    color: #742dbf !important;
    position: relative;
    z-index: 2;
  }
  &__qty {
    z-index: 3;
    position: absolute;
    bottom: 7px;
    right: 3px;
    background: #f27012;
    color: #fff;
    border-radius: 180px;
    padding: 0 5px 0 5px;
  }
}
